services:
  postgres:
    image: postgres:17
    container_name: pg-fastapi
    env_file: .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      TZ: ${TZ}
    ports:
      # map container 5432 to host 55432 to avoid host Postgres conflicts
      - "55432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 5s
    networks:
      - backend_net

volumes:
  pgdata:

networks:
  backend_net:
    name: techzen_backend_net
    driver: bridge
